@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

@tailwind base;
@tailwind components;
@tailwind utilities;

.mantine-1q36a81 {
    padding: 0;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
